@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="viewScreen">
    @CurrentPage.GetGridHtml("aboutGrid")
</div>