@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<article class="col-md-10 col-md-offset-1">
    <h2>@Umbraco.Field("articleHeader")</h2>
    @Umbraco.Field("articleMainText")
</article>