@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<section class="col-md-12">
    <h2>here goes header</h2>

</section>

<section class="col-md-6 section">
    <div class="section-primary fade-color-blue">
        <div class="quote-box">
            <p class="quote"> - This is an awesome quote which should be replaced with some genereted text</p>
        </div>
    </div>
</section>
<section class="col-md-6 section">
    <div class="col-md-12 section-right fade-color-orange">
        <div class="quote-box">
            <p class="quote"> - This is an awesome quote which should be replaced with some genereted text</p>
        </div>
    </div>
    <div class="col-md-12 section-right fade-color-green">
        <div class="quote-box">
            <p class="quote"> - This is an awesome quote which should be replaced with some genereted text</p>
        </div>
    </div>
</section>



