@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        @*@Html.RenderJsHere()*@
        @Html.Partial("MainNavi")
    </header>

    <main class="col-lg-10 col-lg-offset-1">
        @RenderBody()
    </main>

    <footer>
       @* @Umbraco.Field("footer", recursive: true)*@
    </footer>
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
